body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.row {
  margin-left: inherit;
}

button {
  background-color: #82E500; 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 6px 7px;
  cursor: pointer;
  border-radius: 3px;
  letter-spacing: 1px;
}

.button1 {
  font-size: 16px;}
.button2 {font-size: 16px;}
.button3 {font-size: 16px;}
.button4 {font-size: 16px;}
.button5 {font-size: 16px;}

