h1 {
    font-family: Helvetica,sans-serif;
    margin: 20px;
}
h2 {
    font-family: Helvetica,sans-serif;
    margin: 13px;
}
p {color: rgb(167, 166, 166);}
ul {
    list-style: none;
    color: rgb(167, 166, 166);
    }
button {
        padding: 12px 20px;
        background-color: #00BDD2;
        color: white;
        border: none;
        cursor: pointer;
    }