.container {
    background-image: url(images.jpg);
    background-size: cover;
    padding: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .item {
    text-align: center;
}

.container .item i {
    font-size: 70px;
    color: blue;
    
}
.container .item #quantity1 {
    font-size: 70px;
    color: green;
}
.container .item #quantity2 {
    font-size: 70px;
    color: pink;
}
.container .item #quantity3 {
    font-size: 70px;
    color: red;
}
.container .item p#quantity {
    font-size: 70px;
    color: white;
}

.container .item p.content {
    color: yellow;
    font-size: 35px;
    font-family: arial, sans-serif;
}
